* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Comfortaa", sans-serif;
}

.ragnatela {
    width: 375px;
    height: 537px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(assets/ragnatela3.avif);
    transition: 0.3s;
    border-radius: 25px;
}

.card {
    width: 375px;
    height: 537px;
    border: 2px solid #024bba;
    background-image: url(assets/Spidey.webp);
    border-radius: 25px;
    box-shadow: 0px 0px 10px 10px lightskyblue;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
}

.save {
    position: absolute;
    right: 20px;
    top: -50px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 15px 15px;
    font-size: 18px;
    cursor: pointer;
    transition: top 0.3s ease-in-out;
}

.button {
    position: absolute;
    bottom: -40px;
    padding: 10px 15px;
    cursor: pointer;
    transition: bottom 0.2s, opacity 0.2s ease-in-out;
}

.button div {
    position: relative;
    margin-left: 5px;
    margin-right: 39px;
    display: inline-block;
    padding: 0 10px;
    border-radius: 25px;
    background-color: #024bba;
    padding: 5px 15px;
    color: white;
    font-size: 18px;
    opacity: 0,8;
    transition: opacity 0.4s;
}

.ragnatela:hover {
    width: 900px;
    height: 960px;
    box-shadow: 0 0 12px 10px lightcoral;
}

.card:hover {
    box-shadow: none;
}

.card:hover .save {
    top: 20px;
}

.card:hover .button {
    bottom: 15px;
}
.button div:hover {
    opacity: 1;
}